@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --font-system: "Roboto", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    --color-primary: oklch(70.487% 0.18672 47.604);
    --color-primary-50: oklch(92.356% 0.04522 57.493);
    --color-primary-100: oklch(89.526% 0.06193 57.367);
    --color-primary-200: oklch(84.144% 0.09654 56.275);
    --color-primary-300: oklch(79.112% 0.12987 54.397);
    --color-primary-400: oklch(74.51% 0.16108 51.973);
    --color-primary-500: oklch(70.487% 0.18672 47.604);
    --color-primary-600: oklch(60.979% 0.17085 45.611);
    --color-primary-700: oklch(49.022% 0.13426 46.673);
    --color-primary-800: oklch(36.298% 0.09494 48.816);
    --color-primary-900: oklch(22.158% 0.05268 54.981);
    --color-primary-950: oklch(14.602% 0.03107 73.213);










    
}
